.image {
    height: 300px;
    max-width: 1330px;
    width: 100%;
}

.mainInfo {
    display: flex;
    margin: 15px 0 15px 0;
    color: #cccccc;
    max-height: 756px;
}

.mainImg{
    width: 200px;
    height: 250px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 15px #000;
    margin-right: 25px;
}
.mainInfo img {
    padding: 5px;
    width: auto;
    object-fit: cover;
}

.mainAbout {
    width: 100%;
    line-height: 0;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.37);
    box-shadow: 1px 1px 8px #000;
    border-radius: 25px;
    padding: 7px 15px 15px 25px;
}

.mainAbout p {
    padding-bottom: 10px;
}

.profileTitle {
    letter-spacing: 2px;
    color: #fff;
}
.profileInfo{
    padding-top: 23px;
    display: flex;
    gap: 20%;
    /*justify-content: space-between;*/
}
.profileInfo .left{
    color: white;
}

